/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/googlekeys
/.idea
/.vagrant
/googlekeys
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env

/public/js/
/public/css/
/public/fonts/
/public/mix-manifest.json

.vscode/
.DS_Store
resources/.DS_Store
.rnd
